/* CSS Général */

* {
    color: var(--primary-text);
    font-family: "Roboto", sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg :#0F172A;
    --primary-text : #FFFFFF;
    --secondary-text : #C084FC;
    --btn-purple : #9333EA;
    --footer-header :#94A3B8;
    --footer-link :#0F172A;
}

#root {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 80px;
}

.home-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
}

.home-container section {
    padding: 24px;
}

body {
    background-color: var(--primary-bg);
    min-height: 100vh;
}

.secondary-text {
    color: var(--secondary-text);
}

.secondary-underline {
    text-decoration: underline;
    text-decoration-color: var(--secondary-text);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.upper-text {
    text-transform: uppercase;
}

/* Home */

.home-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.home-container img{
    width: 100%;
    max-width: 1100px;
    height: auto;
}

/* Home hero */

.home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-hero h1 {
    font-size: 72px;
    font-weight: 800;
}

.home-btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Home entreprises */

.home-entreprise {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.home-entreprise h2,.home-ressources h2, .home-ecosystem h2 {
    font-size: 56px;
    font-weight: 800;
}

.home-entreprise-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.home-entreprise-list img {
    height: 32px;
    width: auto;
}

/* Home Ressources */

.home-ressources {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    align-items: center;
    text-align: left;
}

.home-ressources div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Home Ecosystem */

.home-ecosystem {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 40px;
    align-items: center;
    text-align: left;
}

.home-ecosystem div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width:980px){
    .home-entreprise h2,.home-ressources h2, .home-ecosystem h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width:840px){
    .home-entreprise-list img {
        height: 28px;
        width: auto;
    }

    .home-container {
        gap: 50px;
    }

    .home-container section {
        padding: 12px 24px;
    }

    .home-hero h1 {
        font-size: 68px;
        font-weight: 800;
    }
}

@media only screen and (max-width:748px){

}