* {
    color: var(--primary-text);
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg :#0F172A;
    --primary-text : #FFFFFF;
    --secondary-text : #C084FC;
    --btn-purple : #9333EA;
}

#root {
    max-width: 1280px;
    text-align: center;
}

body {
    background-color: var(--primary-bg);
}

h1 {
    font-size: 72px;
    font-weight: 800;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.home-container h1 span {
    color: var(--secondary-text);
    font-weight: 300;
}

.home-container img{
    width: 1100px;
}

.txt-important {
    color: var(--secondary-text);
}

.home-entreprises {
    display: flex;
    flex-direction: row;
}

.home-entreprises img {
    height: 32px;
    width: 175px;
}