/* CSS Général */

* {
    color: var(--primary-text);
    font-family: "Roboto", sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg :#0F172A;
    --primary-text : #FFFFFF;
    --secondary-text : #C084FC;
    --btn-purple : #9333EA;
    --footer-header :#94A3B8;
    --footer-link :#0F172A;
    --form-bg :#C084FC1A;
    --form-border: #AF52DE
}

#root {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 80px;
}

body {
    background-color: var(--primary-bg);
    min-height: 100vh;
}

.secondary-text {
    color: var(--secondary-text);
}

.secondary-underline {
    text-decoration: underline;
    text-decoration-color: var(--secondary-text);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.upper-text {
    text-transform: uppercase;
}

.home-container, .contact-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
}

/* Home */

    .home-container section {
        padding: 24px;
    }

    .home-container img{
        width: 100%;
        max-width: 1100px;
        height: auto;
    }

    /* Home hero */

    .home-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .home-hero h1 {
        font-size: 72px;
        font-weight: 800;
    }

    .home-btn-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /* Home entreprises */

    .home-entreprise {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .home-entreprise h2,.home-ressources h2, .home-ecosystem h2 {
        font-size: 56px;
        font-weight: 800;
    }

    .home-entreprise-list {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    .home-entreprise-list img {
        height: 32px;
        width: auto;
    }

    /* Home Ressources */

    .home-ressources {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 40px;
        align-items: center;
        text-align: left;
    }

    .home-ressources div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Home Ecosystem */

    .home-ecosystem {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 40px;
        align-items: center;
        text-align: left;
    }

    .home-ecosystem div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

/* Contact */

    /* Form */

    .contact-form form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--form-bg);
        border: 2px solid var(--form-border);
        border-radius: 20px;
        padding: 30px;
        max-width: 800px; 
        margin: 0 auto;
    }

    .contact-form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; 
        margin-bottom: 30px;
        width: 100%; 
    }

    .contact-form-grid input, .contact-form-grid textarea {
        text-align: center;
        padding: 12px;
        font-size: 16px;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--secondary-text);
        font-size: 25px;
    }

    .contact-form-grid textarea {
        grid-column: span 2;
        resize: vertical;
    }

    .contact-form-grid input:focus, .contact-form-grid textarea:focus {
        outline: none;
        border: 2px solid var(--secondary-text);
    }

    .contact-form-grid input::placeholder,.contact-form-grid textarea::placeholder {
        color: var(--secondary-text);
        opacity: 1;
    }

    .contact-form-grid input:focus::placeholder,.contact-form-grid textarea:focus::placeholder {
        opacity: 0;
    }

/* Responsive */

@media only screen and (max-width:980px){
    .home-entreprise h2,.home-ressources h2, .home-ecosystem h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width:840px){
    .home-entreprise-list img {
        height: 28px;
        width: auto;
    }

    .home-container {
        gap: 50px;
    }

    .home-container section {
        padding: 12px 24px;
    }

    .home-hero h1 {
        font-size: 68px;
        font-weight: 800;
    }
}

@media only screen and (max-width:748px){

}