input {
    text-align: center;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--secondary-text);
    font-size: 25px;
}

input:focus{
    outline: none;
    border: 2px solid var(--secondary-text);
}

input::placeholder {
    color: var(--secondary-text);
    opacity: 1;
}

input:focus::placeholder {
    opacity: 0;
}