.btn-primary, .btn-secondary {
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-primary {
    background-color: var(--btn-purple);
    border: 2px solid var(--btn-purple);
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
}