/* Classe de base pour la structure */
.btn {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: var(--btn-purple);
    border: 2px solid var(--btn-purple);
    color: white;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--btn-purple);
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn-secondary:hover {
    background-color: white;
    color: var(--btn-purple);
}