/* CSS Général */

* {
    color: var(--primary-text);
    font-family: "Roboto", sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg :#0F172A;
    --primary-text : #FFFFFF;
    --secondary-text : #C084FC;
    --btn-purple : #9333EA;
    --footer-header :#94A3B8;
    --footer-link :#0F172A;
    --secondary-bg :#C084FC1A;
    --secondary-bg-hover: #C084FC33;
    --secondary-border: #AF52DE;
    --secondary-border-hover: #AF52DE99;
    --secondary-shadow:#9333ea33;

}

#root {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 80px;
}

body {
    background-color: var(--primary-bg);
    min-height: 100vh;
}

.secondary-text {
    color: var(--secondary-text);
}

.secondary-underline {
    text-decoration: underline;
    text-decoration-color: var(--secondary-text);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.upper-text {
    text-transform: uppercase;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding: 30px 20px;
    text-align: center;
    min-height: 60vh;
}
